{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>AAUW Book Group: Munich by Robert Harris</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top"><h1><strong>AAUW</strong> Book Group</h1></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#author">Author</a>
						</li>
                        <li>
							<a class="page-scroll" href="#team">Characters</a>
						</li>
                        <li>
							<a class="page-scroll" href="#portfolio">References</a>
						</li>
                        <li>
							<a class="page-scroll" href="#about">Timeline</a>
						</li>	
				    </ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
      

         <section id="author">
          <div class="container">
				<div class="row">
                    <div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Author</h2>
						</div>
                    </div>  
                 </div>
              
               <div class="row">
                   <div class="col-md-4">
                     <div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/author-2.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
                         <div class="team-text">
								<h3></h3>
                         </div>
                     </div> 
                   </div>  
                 <div class="col-md-8">
                    <div class="team-item">
                    </div>
                     <div class="team-text">
                         <h2><a href="https://en.wikipedia.org/wiki/Robert_Harris_(novelist)"><strong>Robert Harris</strong></a></h2>
								<p>An English novelist. He is a former journalist and BBC television reporter. Although he began his career in non-fiction, his fame rests upon his works of historical fiction. Beginning with the best-seller Fatherland, Harris focused on events surrounding the Second World War, followed by works set in ancient Rome. His most recent works centre on contemporary history. Harris was educated at Selwyn College, Cambridge, where he was president of the Union and editor of the student newspaper Varsity. 
                                    <br>   </p>
							</div>
                   </div>
              </div>
              
              
              <div class="row">
                   <div class="col-md-4">
                     <div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/bookcover.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
                         <div class="team-text">
								<h3></h3>
                         </div>
                     </div> 
                   </div>  
                 <div class="col-md-8">
                    <div class="team-item">
                    </div>
                     <div class="team-text">
                         <h2><a href="https://www.pbs.org/newshour/show/novelist-robert-harris-twists-history-of-britain-on-the-edge-of-wwii"><strong>PBS Interview</strong></a></h2>
								<p>I hope that, from "Munich," people will take away the fact that whenever we use these loose terms about appeasement and Munich, actually, we're misusing them, and that there might not have been the great Churchill victory speeches in 1940 if we hadn't had Neville Chamberlain patiently trying to buy time and to make sure we — when we did fight, we fought on a big issue, and not something that people would probably have given up on if it we had gone to war in '38. 
                                    <br>  I think it was an incredibly dramatic story, four days in September 1938, when the world came very close to war, the moral compromises which had to be made to preserve peace, the controversy that still surrounds it, and the sheer drama of Chamberlain and Hitler meeting. And I have wanted to write a novel about it for 30 years. </p>
							</div>
                   </div>
              </div>
              
              
            </div>
         </section>

        
        
        
        <section id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Characters</h2>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class ="col-md-2"></div>
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-1.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Neville_Chamberlain"><strong>Neville Chamberlain</strong></a></h3>
								<div class="team-position">Prime Minister of the United Kingdom</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 28 May 1937 – 10 May 1940 <br> He is best known for his foreign policy of appeasement, and in particular for his signing of the Munich Agreement on 30 September 1938, conceding the German-speaking Sudetenland region of Czechoslovakia to Germany.
                                    <br>   </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-2.jpg' %}" class="img-responsive center-block" alt="Adolf Hitler">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Adolf_Hitler"><strong>Adolf Hitler</strong></a></h3>
								<div class="team-position">Führer of Germany</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 2 August 1934 – 30 April 1945 <br> German politician and leader of the Nazi Party (Nationalsozialistische Deutsche Arbeiterpartei; NSDAP). He rose to power as the chancellor of Germany in 1933 and then as Führer in 1934.[a] During his dictatorship from 1933 to 1945, he initiated World War II in Europe by invading Poland on 1 September 1939.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					
				</div>
                
                
                 <div class="row">
                      <div class ="col-md-2"></div>
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-3.png' %}" class="img-responsive center-block" alt="Hugh Legat">
							</div>
							<div class="team-text">
								<h3>Hugh Legat</h3>
								<div class="team-position">Third Private Secretary to the PM</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>In the UK Foreign Service. Twenty-seven-year-old Oxford grad, married to Pamela, father of John & Diana. "Completely made up." </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-4.png' %}" class="img-responsive center-block" alt="Paul von Hartman">
							</div>
							<div class="team-text">
								<h3>Paul von Hartmann</h3>
								<div class="team-position">Reich Foreign Ministry</div>
                                <div class="team-position"><strong>fiction</strong></div>
                                <p>Twenty-nine-year-old German, speaks fluent English from his time at Oxford University as a Rhodes Scholar. There he met fellow student Hugh Legat. Inspied by <a href="https://en.wikipedia.org/wiki/Adam_von_Trott_zu_Solz"><strong>Adam von Trott</strong></a> a German lawyer and diplomat who was involved in the conservative resistance to Nazism. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					
					<!-- end team member item -->
				</div> 
                
                
                <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-8.jpg' %}" class="img-responsive center-block" alt="Lord Halifax">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Edward_Wood,_1st_Earl_of_Halifax"><strong>Edward Wood, 1st Earl of Halifax</strong></a></h3>
								<div class="team-position">UK Foreign Secretary </div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 21 February 1938 – 22 December 1940 <br> Part of the "Big Three." A senior British Conservative politician of the 1930s.  Foreign Secretary between 1938 and 1940. He was one of the architects of the policy of appeasement of Adolf Hitler in 1936–38, working closely with Prime Minister Neville Chamberlain. However, after the German occupation of Czechoslovakia in March 1939 he was one of those who pushed for a new policy of attempting to deter further German aggression by promising to go to war to defend Poland. Nickname "the Holy Fox."</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-9.jpg' %}" class="img-responsive center-block" alt="John Simon">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/John_Simon,_1st_Viscount_Simon"><strong>John Simon</strong></a></h3>
								<div class="team-position">UK Chancellor of the Exchequer</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 28 May 1937 – 10 May 1940 <br> Part of the "Big Three." Simon had become a close political ally of Chamberlain and flattered him a great deal. In the autumn of 1938, he led the Cabinet to Heston Airport to wish him God speed on his flight to meet Hitler, and he helped to persuade Chamberlain to make the "high" case for Munich: that he had achieved a lasting peace, rather than that he had only limited potential damage. He retained the support of Chamberlain until around the middle of 1939.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-10.jpg' %}" class="img-responsive center-block" alt="Home Secretary">

							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Samuel_Hoare,_1st_Viscount_Templewood"><strong>Samuel Hoare</strong></a></h3>
								<div class="team-position">UK Lord Privy Seal</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 3 September 1939 – 3 April 1940 <br>Part of the "Big Three." He was seen as a leading "appeaser" and his removal from office (along with that of Sir John Simon and the removal of Neville Chamberlain as Prime Minister) was a condition of Labour's agreement to serve in a coalition government in May 1940. In September 1938 Hoare was part of the informal inner Cabinet (along with Simon and Halifax), and was one of the few consulted by Chamberlain about “Plan Z”, the plan to fly to meet Hitler for a summit meeting, a decision which was popular at the time. His later account of the Munich agreement is anguished. Hoare had close links to the Czech government.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
                
                
                 <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-14.jpg' %}" class="img-responsive center-block" alt="Adminral Backhouse">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Roger_Backhouse"><strong>Admiral Backhouse</strong></a></h3>
								<div class="team-position">UK First Sea Lord</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 7 September 1938	12 June 1939 <br>
                                One of 3 Chiefs of Staff to meet with the PM. His major contribution in that role was to abandon the official British policy of sending a major fleet to Singapore to deter Japanese aggression (the Singapore strategy), realising the immediate threat was closer to home (from Germany and Italy) and that such a policy was no longer viable.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-12.png' %}" class="img-responsive center-block" alt="John Simon">
							</div>
							<div class="team-text">
                                <h3>Viscount Gort</h3>
								<div class="team-position">UK Chief of the Imperial General Staff</div>
                                <div class="team-position"><strong>fiction</strong></div>
                                <p> War hero awarded the Victoria Cross. One of 3 Chiefs of Staff to meet with the PM. The actual senior British Army officer who served as Chief of the Imperial General Staff (CIGS) from 1933 to 1936 was <a href="https://en.wikipedia.org/wiki/Archibald_Montgomery-Massingberd"><strong>Sir Archibald Armar Montgomery-Massingberd</strong></a>. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-13.png' %}" class="img-responsive center-block" alt="Home Secretary">

							</div>
							<div class="team-text">
                                <h3>Marshal Newall</h3>
								<div class="team-position">UK Air Chief Marshall</div>
                                <div class="team-position"><strong>fiction</strong></div>
                                <p>One of 3 Chiefs of Staff to confer with the PM. The actucal Air Chief Marshal who served from 1937 to 1942 was <a href="https://en.wikipedia.org/wiki/Hugh_Dowding"><strong>Hugh Caswall Tremenheere Dowding</strong></a>.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
                
                <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-11.jpg' %}" class="img-responsive center-block" alt="Osmund Somers Cleverly">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Osmund_Somers_Cleverly"><strong>Osmund Somers Cleverly</strong></a></h3>
								<div class="team-position">Principal Private Secretary to the PM</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 1935 and 1939 <br> Also known as Oscar. In 1935 he was appointed Private Secretary and then Principal Private Secretary to the Prime Minister. In this capacity he served the British Prime Ministers Stanley Baldwin and Neville Chamberlain between 1935 and 1939. Legatt's boss.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-15.jpg' %}" class="img-responsive center-block" alt="Horace Wilson">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Horace_Wilson_(civil_servant)"><strong>Sir Horace Wilson</strong></a></h3>
								<div class="team-position">PMs Special Adviser (civil servant)</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
                                <p>In office: 1939–1942<br>A senior British government official who had a key role with government of Prime Minister Neville Chamberlain in the appeasement period just prior to the Second World War. His lone mission on 26 September to see Hitler followed the German leader issuing his Godesberg ultimatum to Czechoslovakia regarding the ceding of the Sudetenland to Nazi Germany. Wilson carried with him a letter from Chamberlain. It proposed direct negotiations between Germany and Czechoslovakia and His Majesty's Government would act for the Czechs if both parties agreed. Wilson was unable to deliver the second part of the message due to Hitler being in a bad mood.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-16.jpg' %}" class="img-responsive center-block" alt="Home Secretary">

							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Joachim_von_Ribbentrop"><strong>Joachim von Ribbentrop</strong></a></h3>
								<div class="team-position">Foreign Minister of Nazi Germany</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
                                <p>In office: 4 February 1938 – 30 April 1945<br>He offered his house Schloss Fuschl for the secret meetings in January 1933 that resulted in Hitler's appointment as Chancellor of Germany. He became a close confidant of Hitler, to the disgust of some party members, who thought him superficial and lacking in talent.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
              
                
                
               <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-20.jpg' %}" class="img-responsive center-block" alt="Sir Alexander Cadogan">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Alexander_Cadogan"><strong>Sir Alexander Cadogan</strong></a></h3>
								<div class="team-position">UK Permanent Under-Secretary at the Foreign Office</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 1938–1946<br>A British diplomat and civil servant. His long tenure of the Permanent Secretary's office makes him one of the central figures of British policy before and during the Second World War. His diaries are a source of great value and give a sharp sense of the man and his life.  </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-18.jpg' %}" class="img-responsive center-block" alt="Sir  Sir Nevile Henderson">
							</div>
							<div class="team-text">
                                <h3> <a href="https://en.wikipedia.org/wiki/Nevile_Henderson"><strong>Sir Nevile Henderson</strong></a></h3>
								<div class="team-position">British Ambassador</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 21 November 1929 – 1935<br>British diplomat and Ambassador of the United Kingdom to Nazi Germany from 1937 to 1939. Henderson along with Halifax and Sir Horace Wilson, the Chief Industrial Adviser to the government, were the only ones aware of Chamberlain's "Plan Z" to have the Prime Minister fly to Germany to meet Hitler personally and find out just exactly it was that he wanted with the Sudetenland.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-19.jpg' %}" class="img-responsive center-block" alt="Colonel Mason-MacFarlane">

							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Noel_Mason-MacFarlane"><strong>Colonel Mason-MacFarlane</strong></a></h3>
								<div class="team-position">UK Military attaché in Berlin</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>Years of service: 1909–1945<br>A senior British Army officer, administrator and politician who served as Governor of Gibraltar during the Second World War. When Wilson returned to London on 27 September 1938, he took Mason-MacFarlane with him, straight to a cabinet meeting at 10 Downing Street.[21] Mason-MacFarlane told the cabinet: "It would be very rash to base any policy on the assumption that the Czechs would fight like tigers".</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
          
                
                  
               <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-5.png' %}" class="img-responsive center-block" alt="Pamela Legat">
							</div>
							<div class="team-text">
								<h3>Pamela Legat</h3>
								<div class="team-position">Wife</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Mother of two small children, John, age 3, and Diana, age 2. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-6.png' %}" class="img-responsive center-block" alt="Hugh Legat">
							</div>
							<div class="team-text">
								<h3>Frau Winter</h3>
								<div class="team-position">Reich Ministry</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>German war widow; having an affair with Paul von Hartmann.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-7.png' %}" class="img-responsive center-block" alt="Cecil Syers">

							</div>
							<div class="team-text">
								<h3>Cecil Syers</h3>
								<div class="team-position">Private Office of PM</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Co-worker of Hugh Legat in the PM's Private Office.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
                
                  <div class="row">
                    	<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-21.jpg' %}" class="img-responsive center-block" alt="Duff Cooper">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Duff_Cooper"><strong>Duff Cooper</strong></a></h3>
								<div class="team-position">UK First Lord of the Admiralty</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 28 October 1937 – 27 October 1938 <br>A British Conservative Party politician, diplomat and military and political historian. In the intense political debates of the late 1930s over appeasement, he first put his trust in the League of Nations, and later realised that war with Germany was inevitable. He denounced the Munich agreement of 1938 as meaningless, cowardly, and unworkable, as he resigned from the cabinet. When Winston Churchill became prime minister in May 1940, he named Cooper as Minister of Information. Thouhgt to "leak to Churchill". </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
                	<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-22.jpg' %}" class="img-responsive center-block" alt="Ludwig Beck">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Ludwig_Beck"><strong>Ludwig Beck</strong></a></h3>
								<div class="team-position">Nazi Chief of the German General Staff</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: Complicated <br>One of the seven at the meeting to overthrow Hitler. A German general and Chief of the German General Staff during the early years of the Nazi regime in Germany before World War II. Ludwig Beck never became a member of the Nazi Party, though in the early 1930s he supported Adolf Hitler's forceful denunciation of the Versailles Treaty and his belief in the need for Germany to rearm. In serving as Chief of Staff of the German Army between 1935 and 1938, Beck became increasingly disillusioned, standing in opposition to the increasing totalitarianism of the Nazi regime and to Hitler's aggressive foreign policy. Due to public foreign-policy disagreements with Hitler, Beck resigned as Chief of Staff in August 1938. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-23.jpg' %}" class="img-responsive center-block" alt="Hans Oster">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Hans_Oster"><strong>Hans Oster</strong></a></h3>
								<div class="team-position">Nazi Deputy Chief of the Abwehr</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 1935 – 21 July 1944 <br>One of the seven at the meeting to overthrow Hitler. A general in the Wehrmacht of Nazi Germany and a leading figure of the German resistance from 1938 to 1943. As deputy head of the counter-espionage bureau in the Abwehr (German military intelligence), Oster was in a good position to conduct resistance operations under the guise of intelligence work; he was dismissed for helping Jews avoid arrest. He was involved in the Oster Conspiracy of September 1938 and was arrested in 1943 on suspicion of helping Abwehr officers caught helping Jews escape Germany.  </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					
                     
				</div>    
                
                <div class="row">
                     
                    <!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-25.jpg' %}" class="img-responsive center-block" alt="Erich Kordt">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Erich_Kordt"><strong>Erich Kordt</strong></a></h3>
								<div class="team-position">Nazi Office of the Foreign Service</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 1935 – 21 July 1944 <br>One of the seven at the meeting to overthrow Hitler. a German diplomat who was involved in the German Resistance to the regime of Adolf Hitler.He then served as Legationsrat (counsellor) in the London Embassy under Ambassador Joachim von Ribbentrop for whom he developed a personal dislike and a professional disdain. Still, he became a member of the Nazi Party in November 1937. In February 1938, when Ribbentrop became foreign minister, he was named as head of the Foreign Office's "Ministerial Bureau". </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
                    <!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-26.jpg' %}" class="img-responsive center-block" alt="Friedrich Wilhelm Heinz">
							</div>
							<div class="team-text">
                                <h3><a href="https://de.wikipedia.org/wiki/Friedrich_Wilhelm_Heinz"><strong>Friedrich Wilhelm Heinz</strong></a></h3>
								<div class="team-position">Nazi Abwehr</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>One of the seven at the meeting to overthrow Hitler. A German journalist, writer and intelligence officer. During the Weimar Republic, he conspired against the Republic as a member of the Consul organization. As a national revolutionary opponent of Adolf Hitler, he joined the military resistance of Hans Oster during the Nazi era. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
                    <!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-17.png' %}" class="img-responsive center-block" alt="Joan Sackville">
							</div>
							<div class="team-text">
								<h3>Joan Sackville</h3>
								<div class="team-position">UK Typist</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Top typist in the Private Office at 10 Downing Street in 1938. ‘Her ‘uncle’ Lord Menzies asked her to keep an eye on Hugh in Munich. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
                    
                </div>
                
			</div>
		</section>
        
        
         <div class="row">
              <!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-24.jpg' %}" class="img-responsive center-block" alt="Joan Sackville">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Anne_Chamberlain"><strong>Anne Chamberlain</strong></a></h3>
								<div class="team-position">Wife of British Prime Minister</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In role: 28 May 1937 – 10 May 1940 <br>At the time of her marriage her husband, a successful businessman, was already 41 years old, and had expected to remain a bachelor. She encouraged and supported his entry into local politics and he was elected to the Birmingham City Council in November 1911. In 1914, just before the outbreak of the Great War, he was made an alderman and the following year was elected Lord Mayor of Birmingham. This marked the beginning of a public career in which Anne Chamberlain was to be Neville's constant companion, helper and trusted colleague, and to share in full his interests in housing and other political and social activities after his election as MP for the Birmingham constituencies of first Ladywood and then Edgbaston. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
        </div>
        
		
		<section id="portfolio">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>References</h2>
						<p>Interesting references relevant to the book Munich.</p>
					</div>
				</div>
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-1.jpg' %}" alt="handshake" class="img-responsive" />
							<figcaption>
								<h2>Dodgy handshake: Neville Chamberlain and Hitler at their meeting in Munich, 1938 </h2>
								<p>Universal History Archive/UIG via Getty Images</p>
								<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-3.jpg' %}" alt="Munich Peace Conference" class="img-responsive" />
							<figcaption>
								<h2>Adolf Hitler and Benito Mussolini (third and fourth from left) with Neville Chamberlain (left) at the Munich Peace Conference, Germany, October 1938  </h2>
								<p>PhotoQuest/Getty Images</p>
								<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
                
            			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">

							<figcaption>
								<h2>Postcard depiction of new Sportpalast, 1910</h2>
								<p>Where the Sept. 26, 1938 Hitler Speech threatening Czech war was delivered</p>
								<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-5.jpg' %}" alt="Munich Peace Conference" class="img-responsive" />
							<figcaption>
								<h2>Führerbau where Neville Chamberlain and Adolf Hitler signed the Munich Agreement in 1938</h2>
								<p>I didn't buy the photo rights, almay.com stock photo</p>
								<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
            
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-2.png' %}" alt="img02" class="img-responsive" />
							<figcaption>
                                <h2>German-speaking parts of Czechoslovakia</h2>
								<p>The fraction of German speakers in each of the judicial districts in the modern-day Czech Republic (which was then the western half of Czechoslovakia) in the 1930s.</p>
								<a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-4.jpg' %}" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>Redrawing of European Borders After WWI</h2>
								<p>Meeting in Paris in 1919, at the end of World War I, the victorious Allies redrew the map of Europe. </p>
								<a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
                
                <div class="col-md-12 text-center">
                    <p>Maps Reference: Vox Article <a href="https://www.vox.com/2014/11/13/7148855/40-maps-that-explain-world-war-ii">42 maps that explain World War II"</a></p>
                </div>
               
			</div>

		<div class="container">
            <div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Videos</h2>
						
					</div>
				</div>
			</div>
            
        <div class="section-title">
			<div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GX8_ZhJnGdE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                    </div>
                <div class="col-md-2"></div>
            </div>
            
            <div class="row">
            
            </div>
            </div>
	<div class="section-title">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PkpMEkC1WcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                    </div>
                <div class="col-md-2"></div>
            </div>
            
         </div>
                
                </div>       
                
			</div><!-- container -->
		</section>

		<section id="about" class="mz-module">
			<div class="container light-bg">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>TimeLine</h2>
                            <p>A TimeLine of Events that Occured and Mentioned in the Book</p>
						</div>
					</div>
				</div>
            </div>    
				
					
					
			
		<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
               <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/Anglo-German_Naval_Agreement" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">1935</h3>
                            <h7><i>Anglo-German Naval Agreement</i></h7>
                            <p class="description">
                                <b><br>
                                The Anglo-German Naval Agreement (AGNA) of 18 June 1935 was a naval agreement between the United Kingdom and Germany regulating the size of the Kriegsmarine in relation to the Royal Navy. The Anglo-German Naval Agreement was an ambitious attempt on the part of both the British and the Germans to reach better relations, but it ultimately foundered because of conflicting expectations between the two countries. For Germany, the Anglo-German Naval Agreement was intended to mark the beginning of an Anglo-German alliance against France and the Soviet Union, whereas for the UK, the Anglo-German Naval Agreement was to be the beginning of a series of arms limitation agreements that were made to limit German expansionism. </b>
                            </p>
                        </div>
                    </a>
                </div>
                
                
                <div class="timeline">
                    <a href="https://www.britannica.com/topic/Rome-Berlin-Axis" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">1936</h3>
                            <h7><i>Rome-Berlin Axis</i></h7>
                            <p class="description">
                                
                                <b><br>Italian dictator Benito Mussolini gave a speech in Milan celebrating a new treaty of friendship with Germany and a political realignment of Italy. “This Berlin-Rome protocol is not a barrier, it is rather an axis around which all European States animated by a desire for peace may collaborate on troubles,” he said to a crowd of 250,000, flanked by a squad of Nazi officials. </b>
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/Anschluss" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">12 March 1938</h6>
                            <h7><i>Anschluss</i></h7>
                            <p class="description">
                                <b><br>Prior to the Anschluss, there had been strong support from people of all backgrounds in both Austria and Germany for a union of the two countries. The desire for a union formed an integral part of the Nazi "Heim ins Reich" movement to bring ethnic Germans outside Nazi Germany into Greater Germany. Earlier, Nazi Germany had provided support for the Austrian National Socialist Party (Austrian Nazi Party) in its bid to seize power from Austria's Fatherland Front government. Determined to maintain Austria's independence but under increasing pressure, Chancellor Kurt Schuschnigg proclaimed a referendum to be held on 13 March 1938. Adolf Hitler threatened an invasion, which went ahead despite the canceling of the referendum and Schuschnigg's subsequent resignation. On 12 March 1938, the German Wehrmacht entered Austria and was greeted with great enthusiasm. A plebiscite held on 10 April officially ratified Austria's annexation to the Reich.</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                
                
              
                <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/September_1938#September_12,_1938_(Monday)" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">12 September 1938 </h6>
                            <h7>Nuremberg Party Rally</h7>
                            <p class="description">
                                <b><br> Hitler gave his keynote speech at the 1938 Nuremberg Party Rally on 12 September 1938 demanding that President Beneš either allow the Sudetenland to join Germany or else he would invade Czechoslovakia.</b>
                            </p>
                        </div>
                    </a>
                </div> 
                
                
                
                
                 <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/September_1938#September_26,_1938_(Monday)" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">26 September 1938</h6>
                            <h7>Hitler Speech</h7>
                            <p class="description">
                                <b><br>In the Berlin Sportpalast, Hitler made a speech threatening Czechoslovakia with war. "My patience is exhausted", Hitler declared. "If Beneš does not want peace we will have to take matters into our own hands."</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                
                
                
                  <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/September_1938#September_27,_1938_(Tuesday)" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <h1><b> Munich Book Begins</b></h1>
                        <div class="inner-content">
                            <h6 class="title">27 September 1938</h6>
                            <h7></h7>
                            <p class="description">
                                <b><br>The French government announced that France would not enter a war purely over Czechoslovakia. Neville Chamberlain gave a radio address saying, "However much we may sympathize with a small nation confronted by a big and powerful neighbor, we cannot in all circumstances undertake to involve the whole British Empire in a war simply on her account. If we have to fight it must be on larger issues than that."</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="timeline">
                    <a href="https://en.wikipedia.org/wiki/Munich_Agreement" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">30 September 1938</h6>
                            <h7>Munich Agreement</h7>
                            <p class="description">
                                <b><br>The Munich Agreement was an agreement concluded at Munich, by Nazi Germany, the United Kingdom, the French Third Republic, and the Kingdom of Italy. It provided "cession to Germany of the Sudeten German territory" of Czechoslovakia. Most of Europe celebrated the agreement, because it prevented the war threatened by Adolf Hitler by allowing Nazi Germany's annexation of the Sudetenland, a region of western Czechoslovakia inhabited by more than 3 million people, mainly German speakers. Hitler announced it was his last territorial claim in Europe, and the choice seemed to be between war and appeasement.</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="timeline">
                    
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">1 October 1938</h6>
                            <h7>Hitler's Threat of War</h7>
                            <p class="description">
                                <b><br>Hitler's threat to invade Czechoslovakia if the Sudetenland is not returned for German occupation.</b>
                            </p>
                        </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>	
		</section>

<footer>
			<div class="container text-center">
				<p>Site made by Nichole Sullivan for AAWU Book Group 2020</p>
			</div>
		</footer>


		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.js' %}"></script>
		<script src="{% static 'js/theme-scripts.js' %}"></script>
	</body>
</html>