{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>AAUW Book Group: Munich by Robert Harris</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top"><h1><strong>AAUW</strong> Book Group</h1></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#author">Author</a>
						</li>
                        <li>
							<a class="page-scroll" href="#team">Characters</a>
						</li>
                        <li>
							<a class="page-scroll" href="#portfolio">References</a>
						</li>
                        <li>
							<a class="page-scroll" href="#about">Timeline</a>
						</li>	
				    </ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
      

         <section id="author">
          <div class="container">
				<div class="row">
                    <div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Author</h2>
						</div>
                    </div>  
                 </div>
              
               <div class="row">
                   <div class="col-md-4">
                     <div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/author-2.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
                         <div class="team-text">
								<h3></h3>
                         </div>
                     </div> 
                   </div>  
                 <div class="col-md-8">
                    <div class="team-item">
                    </div>
                     <div class="team-text">
                         <h2><a href="https://www.pbs.org/newshour/show/novelist-robert-harris-twists-history-of-britain-on-the-edge-of-wwii"><strong>Robert Harris</strong></a></h2>
								<p>An English novelist. He is a former journalist and BBC television reporter. Although he began his career in non-fiction, his fame rests upon his works of historical fiction. Beginning with the best-seller Fatherland, Harris focused on events surrounding the Second World War, followed by works set in ancient Rome. His most recent works centre on contemporary history. Harris was educated at Selwyn College, Cambridge, where he was president of the Union and editor of the student newspaper Varsity. 
                                    <br>   </p>
							</div>
                   </div>
              </div>
              
              
              <div class="row">
                   <div class="col-md-4">
                     <div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/bookcover.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
                         <div class="team-text">
								<h3></h3>
                         </div>
                     </div> 
                   </div>  
                 <div class="col-md-8">
                    <div class="team-item">
                    </div>
                     <div class="team-text">
                         <h2><a href="https://www.pbs.org/newshour/show/novelist-robert-harris-twists-history-of-britain-on-the-edge-of-wwii"><strong>PBS Interview</strong></a></h2>
								<p>I hope that, from "Munich," people will take away the fact that whenever we use these loose terms about appeasement and Munich, actually, we're misusing them, and that there might not have been the great Churchill victory speeches in 1940 if we hadn't had Neville Chamberlain patiently trying to buy time and to make sure we — when we did fight, we fought on a big issue, and not something that people would probably have given up on if it we had gone to war in '38. 
                                    <br>  I think it was an incredibly dramatic story, four days in September 1938, when the world came very close to war, the moral compromises which had to be made to preserve peace, the controversy that still surrounds it, and the sheer drama of Chamberlain and Hitler meeting. And I have wanted to write a novel about it for 30 years. </p>
							</div>
                   </div>
              </div>
              
              
            </div>
         </section>

        
        
        
        <section id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Characters</h2>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class ="col-md-2"></div>
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-1.jpg' %}" class="img-responsive center-block" alt="Neville Chamberlain">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Neville_Chamberlain"><strong>Neville Chamberlain</strong></a></h3>
								<div class="team-position">Prime Minister of the United Kingdom</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 28 May 1937 – 10 May 1940 <br> He is best known for his foreign policy of appeasement, and in particular for his signing of the Munich Agreement on 30 September 1938, conceding the German-speaking Sudetenland region of Czechoslovakia to Germany.
                                    <br>   </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-2.jpg' %}" class="img-responsive center-block" alt="Adolf Hitler">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Adolf_Hitler"><strong>Adolf Hitler</strong></a></h3>
								<div class="team-position">Führer of Germany</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 2 August 1934 – 30 April 1945 <br> German politician and leader of the Nazi Party (Nationalsozialistische Deutsche Arbeiterpartei; NSDAP). He rose to power as the chancellor of Germany in 1933 and then as Führer in 1934.[a] During his dictatorship from 1933 to 1945, he initiated World War II in Europe by invading Poland on 1 September 1939.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					
				</div>
                
                
                 <div class="row">
                      <div class ="col-md-2"></div>
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-3.png' %}" class="img-responsive center-block" alt="Hugh Legat">
							</div>
							<div class="team-text">
								<h3>Hugh Legat</h3>
								<div class="team-position">Third Private Secretary to the PM (Chamberlain)</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>In the UK Foreign Service. Twenty-eight-year-old Oxford grad, married to Pamela, father of John & Diana. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-4.png' %}" class="img-responsive center-block" alt="Paul von Hartman">
							</div>
							<div class="team-text">
								<h3>Paul von Hartman</h3>
								<div class="team-position">Reich Foreign Ministry</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Twenty-nine-year-old German, speaks fluent English from his time at Oxford University as a Rhodes Scholar. There he met fellow student Hugh Legat. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					
					<!-- end team member item -->
				</div> 
                
                
                <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-8.jpg' %}" class="img-responsive center-block" alt="Lord Halifax">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Edward_Wood,_1st_Earl_of_Halifax"><strong>Edward Wood, 1st Earl of Halifax</strong></a></h3>
								<div class="team-position">UK Foreign Secretary </div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 3 April 1926 – 18 April 1931 <br> Part of the "Big Three." A senior British Conservative politician of the 1930s.  Foreign Secretary between 1938 and 1940. He was one of the architects of the policy of appeasement of Adolf Hitler in 1936–38, working closely with Prime Minister Neville Chamberlain. However, after the German occupation of Czechoslovakia in March 1939 he was one of those who pushed for a new policy of attempting to deter further German aggression by promising to go to war to defend Poland.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-9.jpg' %}" class="img-responsive center-block" alt="John Simon">
							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/John_Simon,_1st_Viscount_Simon"><strong>John Simon</strong></a></h3>
								<div class="team-position">UK Chancellor of the Exchequer</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 28 May 1937 – 10 May 1940 <br> Part of the "Big Three." Simon had become a close political ally of Chamberlain and flattered him a great deal. In the autumn of 1938, he led the Cabinet to Heston Airport to wish him God speed on his flight to meet Hitler, and he helped to persuade Chamberlain to make the "high" case for Munich: that he had achieved a lasting peace, rather than that he had only limited potential damage. He retained the support of Chamberlain until around the middle of 1939.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-10.jpg' %}" class="img-responsive center-block" alt="Home Secretary">

							</div>
							<div class="team-text">
                                <h3><a href="https://en.wikipedia.org/wiki/Samuel_Hoare,_1st_Viscount_Templewood"><strong>Samuel Hoare</strong></a></h3>
								<div class="team-position">UK Lord Privy Seal</div>
                                <div class="team-position"><strong>non-fiction</strong></div>
								<p>In office: 3 September 1939 – 3 April 1940 <br>Part of the "Big Three." He was seen as a leading "appeaser" and his removal from office (along with that of Sir John Simon and the removal of Neville Chamberlain as Prime Minister) was a condition of Labour's agreement to serve in a coalition government in May 1940. In September 1938 Hoare was part of the informal inner Cabinet (along with Simon and Halifax), and was one of the few consulted by Chamberlain about “Plan Z”, the plan to fly to meet Hitler for a summit meeting, a decision which was popular at the time. His later account of the Munich agreement is anguished. Hoare had close links to the Czech government.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
               <div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-5.png' %}" class="img-responsive center-block" alt="Hugh Legat">
							</div>
							<div class="team-text">
								<h3>Pamela Legat</h3>
								<div class="team-position">Wife</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Mother of two small children, John, age 3, and Diana, age 2. </p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="{% static 'images/demo/character-6.png' %}" class="img-responsive center-block" alt="Hugh Legat">
							</div>
							<div class="team-text">
								<h3>Frau Winter</h3>
								<div class="team-position">Reich Ministry</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>German war widow; having an affair with Paul von Hartmann.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
                                <img src="{% static 'images/demo/character-7.png' %}" class="img-responsive center-block" alt="Cecil Syers">

							</div>
							<div class="team-text">
								<h3>Cecil Syers</h3>
								<div class="team-position">Private Office of PM</div>
                                <div class="team-position"><strong>fiction</strong></div>
								<p>Co-worker of Hugh Legat.</p>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>    
                
                
                
                
			</div>
		</section>
        
        
		
		<section id="portfolio">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>References</h2>
						<p>Interesting references relevant to the book Munich.</p>
					</div>
				</div>
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-1.jpg' %}" alt="handshake" class="img-responsive" />
							<figcaption>
								<h2>Dodgy handshake: Neville Chamberlain and Hitler at their meeting in Munich, 1938 </h2>
								<p>Universal History Archive/UIG via Getty Images</p>
								<a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-3.jpg' %}" alt="Munich Peace Conference" class="img-responsive" />
							<figcaption>
								<h2>Adolf Hitler and Benito Mussolini (third and fourth from left) with Neville Chamberlain (left) at the Munich Peace Conference, Germany, October 1938  </h2>
								<p>PhotoQuest/Getty Images</p>
								<a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>
			<div class="row row-0-gutter">
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-2.png' %}" alt="img02" class="img-responsive" />
							<figcaption>
                                <h2><a href="https://www.vox.com/2014/11/13/7148855/40-maps-that-explain-world-war-ii">German-speaking parts of Czechoslovakia</a></h2>
								<p>The fraction of German speakers in each of the judicial districts in the modern-day Czech Republic (which was then the western half of Czechoslovakia) in the 1930s.</p>
								<a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
				<!-- start portfolio item -->
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="{% static 'images/demo/portfolio-4.jpg' %}" alt="img02" class="img-responsive" />
							<figcaption>
								<h2><a href="https://www.vox.com/2014/11/13/7148855/40-maps-that-explain-world-war-ii">Redrawing of European Borders After WWI</a></h2>
								<p>Meeting in Paris in 1919, at the end of World War I, the victorious Allies redrew the map of Europe. </p>
								<a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
							</figcaption>
						</figure>
					</div>
				</div>
				<!-- end portfolio item -->
			</div>

		<div class="container">
            <div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>Videos</h2>
						
					</div>
				</div>
			</div>
            
        <div class="section-title">
			<div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GX8_ZhJnGdE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                    </div>
                <div class="col-md-2"></div>
            </div>
            
            <div class="row">
            
            </div>
            </div>
	<div class="section-title">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PkpMEkC1WcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                    </div>
                <div class="col-md-2"></div>
            </div>
            
         </div>
                
                </div>       
                
			</div><!-- container -->
		</section>

		<section id="about" class="mz-module">
			<div class="container light-bg">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>TimeLine</h2>
                            <p>A TimeLine of Events that Occured and Mentioned in the Book</p>
						</div>
					</div>
				</div>
            </div>    
				
					
					
			
		<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
               <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">1935</h3>
                            <h7><i>Anglo-German Naval Agreement</i></h7>
                            <p class="description">
                                <b><br>
                                The Anglo-German Naval Agreement (AGNA) of 18 June 1935 was a naval agreement between the United Kingdom and Germany regulating the size of the Kriegsmarine in relation to the Royal Navy. The Anglo-German Naval Agreement was an ambitious attempt on the part of both the British and the Germans to reach better relations, but it ultimately foundered because of conflicting expectations between the two countries. For Germany, the Anglo-German Naval Agreement was intended to mark the beginning of an Anglo-German alliance against France and the Soviet Union, whereas for the UK, the Anglo-German Naval Agreement was to be the beginning of a series of arms limitation agreements that were made to limit German expansionism. </b>
                            </p>
                        </div>
                    </a>
                </div>
                
                
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">1936</h3>
                            <h7><i>Rome-Berlin Axis</i></h7>
                            <p class="description">
                                
                                <b><br>Italian dictator Benito Mussolini gave a speech in Milan celebrating a new treaty of friendship with Germany and a political realignment of Italy. “This Berlin-Rome protocol is not a barrier, it is rather an axis around which all European States animated by a desire for peace may collaborate on troubles,” he said to a crowd of 250,000, flanked by a squad of Nazi officials. </b>
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">12 March 1938</h6>
                            <h7><i>Anschluss</i></h7>
                            <p class="description">
                                <b><br>Prior to the Anschluss, there had been strong support from people of all backgrounds in both Austria and Germany for a union of the two countries. The desire for a union formed an integral part of the Nazi "Heim ins Reich" movement to bring ethnic Germans outside Nazi Germany into Greater Germany. Earlier, Nazi Germany had provided support for the Austrian National Socialist Party (Austrian Nazi Party) in its bid to seize power from Austria's Fatherland Front government. Determined to maintain Austria's independence but under increasing pressure, Chancellor Kurt Schuschnigg proclaimed a referendum to be held on 13 March 1938. Adolf Hitler threatened an invasion, which went ahead despite the canceling of the referendum and Schuschnigg's subsequent resignation. On 12 March 1938, the German Wehrmacht entered Austria and was greeted with great enthusiasm. A plebiscite held on 10 April officially ratified Austria's annexation to the Reich.</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                 <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">September 26, 1938</h6>
                            <h7>Hitler Speech</h7>
                            <p class="description">
                                <b><br>In the Berlin Sportpalast, Hitler made a speech threatening Czechoslovakia with war. "My patience is exhausted", Hitler declared. "If Beneš does not want peace we will have to take matters into our own hands."</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                
                
                
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <h1><b> Munich Book Begins</b></h1>
                        <div class="inner-content">
                            <h6 class="title">September 27, 1938</h6>
                            <h7>Hitler Speech</h7>
                            <p class="description">
                                <b><br>The French government announced that France would not enter a war purely over Czechoslovakia. Neville Chamberlain gave a radio address saying, "However much we may sympathize with a small nation confronted by a big and powerful neighbor, we cannot in all circumstances undertake to involve the whole British Empire in a war simply on her account. If we have to fight it must be on larger issues than that."</b>
                            </p>
                        </div>
                    </a>
                </div>
                
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">
                            <i class=""></i>
                        </div>
                        <div class="inner-content">
                            
                            <h6 class="title">30 September 1938</h6>
                            <h7>Munich Agreement</h7>
                            <p class="description">
                                <b><br>The Munich Agreement was an agreement concluded at Munich, by Nazi Germany, the United Kingdom, the French Third Republic, and the Kingdom of Italy. It provided "cession to Germany of the Sudeten German territory" of Czechoslovakia. Most of Europe celebrated the agreement, because it prevented the war threatened by Adolf Hitler by allowing Nazi Germany's annexation of the Sudetenland, a region of western Czechoslovakia inhabited by more than 3 million people, mainly German speakers. Hitler announced it was his last territorial claim in Europe, and the choice seemed to be between war and appeasement.</b>
                            </p>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>
			
			
		</section>

<footer>
			<div class="container text-center">
				<p>Site made by Nichole Sullivan for AAWU Book Group 2020</p>
			</div>
		</footer>


		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.js' %}"></script>
		<script src="{% static 'js/theme-scripts.js' %}"></script>
	</body>
</html>